<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Learn Vue JS</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .fav{
            background-color: aquamarine;
        };
        .tc{
            background-color:blueviolet;
        }
    </style>
</head>
<body>
    <h2>Let's Learn Vue 3</h2>
    <div id="root">

        <!-- <div v-if="toShow">
        <div>{{loggedIn}}</div>
        </div>
        <div v-else>
        <div>Not Logged in</div>
        </div>

        <button @click="toggleShow()">Toggle Show</button> -->


        <div v-for="book in books" :class={fav:book.isFav} @click="toggleFav(book)" >
        <div>{{book.title}}</div>
        <div>{{book.author}}</div>
        <a v-bind:href="book.url" target='blank'>Buy this book</a>
        <div>{{book.likes}}</div>
        <button @click="increaseLike(book)">Give a like</button>
        <hr/>
        </div>





       <!-- <h1 style="text-align:center">{{a}}</h1>
       <h1 style="text-align:center">{{b}}</h1>
       <h1 style="text-align:center">{{computed(changeC)}}</h1>

       
       <button v-on:click="a++">Increase A</button>
       <button v-on:click="b++">Increase B</button> -->

       <!-- <button @click="increaseAndChange()">Increase</button>
       <button @click="decreaseAndChange()">Decrease</button> -->
    </div>
    <script src="./sandbox.js"></script>
</body>
</html>