/* BEM naming convention */
body {
  margin: 0;
  padding: 0;
}
.newsPaper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  border: 2px solid red;
  height: 500px;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
}

.newsPaper__1 {
  border: 2px solid blue;
  height: 200px;
  /* width: 350px; */
  width: 10%;
}

.newsPaper__2 {
  border: 2px solid green;
  height: 200px;
  /* width: 350px; */
  width: 10%;
}

.newsPaper__3 {
  border: 2px solid yellow;
  height: 200px;
  width: 20%;
}

.newsPaper__4 {
  border: 2px solid salmon;
  height: 200px;
  /* width: 350px; */
  width: 20%;
}

._flexbox {
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 2px solid orange;
  width: 100%;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  width: 3000px;
  height: 1000px;
  border: 2px solid violet;
  /* flex-grow: 1; */
}

.flex-container__box1 {
  height: 200px;
  border: 2px solid red;

  flex-basis: 200px;
  flex-shrink: 1;
}

.flex-container__box2 {
  height: 200px;

  flex-basis: 200px;
  border: 2px solid yellow;
  flex-shrink: 2;
}

.flex-container__box3 {
  height: 200px;

  flex-basis: 200px;
  border: 2px solid green;
  flex-shrink: 3;
}
